<div id="zone-footer-2" class="zone zone-footer-2 clearfix container-12">
  <div class="grid-6 region region-footer-first" id="region-footer-first">
    <div class="region-inner region-footer-first-inner">
      <div class="block block-block block-13 block-block-13 odd block-without-title" id="block-block-13">

      </div>
    </div>
  </div>
  <div class="grid-6 region region-footer-second" id="region-footer-second">
    <div class="region-inner region-footer-second-inner">
      <div class="block block-block block-46 block-block-46 odd block-without-title" id="block-block-46">
        <div class="block-inner clearfix">

          <div class="content clearfix">
            <div class="footer-content" style="display: flex; justify-content: space-between;  align-items: center;">
              <div>
                Copyright © DataArt Inc 2024
                All rights reserved.
                <br>
                <a href="/legal-notices">Legal Notices</a>
              </div>
              <div class="share_box">
                <!--div class="share_text">CONNECT</div-->
                <div class="share_row">
                  <div class="sn_logo"><a href="https://www.facebook.com/IDLOnews"
                                          target="_blank"><img
                        src="/sites/all/themes/idlo/images/blue_facebook.png"></a></div>
                  <div class="sn_logo"><a href="https://twitter.com/IDLO" target="_blank"><img
                        src="/sites/all/themes/idlo/images/blue_twitter.png"></a></div>
                  <div class="sn_logo"><a
                      href="https://www.linkedin.com/company/international-development-law-organization"
                      target="_blank"><img src="/sites/all/themes/idlo/images/blue_linkedin.png"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
