<div class="content">
  <div class="field">

    <div style="background-color:var(--style_blue_200);margin-bottom:1em;margin-top:1em;padding:2em;">

      <div>Example of a dynamic module which outputs the counter for News content type items.</div>

      <h2>We have
        <strong>{{ count }}</strong> News items for you</h2>
      <div><a href="/news" class="btn btn-primary">Read News</a></div>
    </div>
  </div>
</div>
