div.messages {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 15px 0;
  padding: 13px 33px 13px 44px;
}
div.messages .close {
  float: right;
  margin-right: -20px;
}
div.status {
  background-image: url(../../images/message-24-ok.png);
  border-color: var(--style_green_400);
}
div.status .close {
  color: var(--style_green_400);
}
div.status,
table tr.ok {
  background-color: var(--style_green_50);
}
div.warning {
  background-image: url(../../images/message-24-warning.png);
  border-color: var(--style_orange_200);
}
div.warning .close {
  color: var(--style_orange_400);
}
div.warning,
.warning {
  color: var(--style_orange_400);
}
div.warning,
table tr.warning {
  background-color: var(--style_orange_50);
}
div.error {
  background-image: url(../../images/message-24-error.png);
  border-color: var(--style_red_700);
}
div.error .close {
  color: var(--style_red_400);
}
div.error,
.error {
  color: var(--style_red_600);
}
div.error,
table tr.error {
  background-color: var(--style_red_50);
}
div.error p.error {
  color: var(--style_gray_600);
}
div.messages ul {
  margin: 0 0 0 1em;
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}
